@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu';
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color:rgba(0,0,0,.25);
    position:fixed;
    top: 0;
    width: 100%; 
}
.log{
    display: flex;
    justify-content: space-between;
}
.searchbar{
    margin-top: 2rem;
}
.log{
    margin-top: 2rem;
    margin-right: 2rem;
}
.icon{
    margin-left: 2rem;
}
input{
    border: 0.1px solid white;
    padding: 0.5rem 12rem 0.5rem 12rem;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}
#search2{
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    border: white 2rem;
    background-color: white;
}
button{
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}
#login{
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    color: white;
}
#signin{
    background-color: white;
    color: black;
    border: 0.3px;
    border-radius: 0.7rem;
}
.container{
    background-image: url(./Assets/If_Only_We_Could_Turn_Back_Time_Anna_Kwa.jpeg);
    width: 100%;
    height: 100%;
}
.content{
    color: white;
    text-align: center;
    padding: 5rem;
    font-weight: bolder;
    padding-top: 10rem;
}
#start{
    background-color: white;
    color: black;
    padding: 0.8rem 4rem 0.8rem 4rem;
    border: none;
    margin-top: 4rem;
}
.alert{
    background-color: grey;
    color: white;
    text-align: center;
    padding: 1.5rem 10rem 1.5rem 10rem;
    font-size: small;
    text-indent: 2px;
}
a{
    text-decoration: underline;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: rgba(255, 255, 255, 0.559);
    padding: 1.5rem 6rem 1.5rem 6rem;
    font-size: smaller;
}
#head{
    font-size: x-large;
    font-weight: bolder;
}
.alert{
    display: flex;
    justify-content: space-between;
}
i{
    cursor: pointer;
}
form{
    background-color: white;
    border-radius: 2rem;
}
#alert2{
    background-color: rgba(240, 255, 255, 0);
    border: none;
    color: white;
}