.main{
    border: 1px solid rgba(219, 216, 216, 0.776);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    max-width: 14rem;
    box-shadow: 5px 1px 20px grey;

}
.keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2px;
    max-width: 500px; 
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    border: 0px;
    background-color: #cccccc00;
  
}
.buttons{
    padding: 8px;
    background-color: #dcdada5a;
    text-align: center;
}
.result{
    padding: 10% 20% 10% 50%;
}
.result{
    padding: 15% 49% 10% 50%;
    margin-bottom: 2px;
    border-radius: 3px;
    border: 1px solid #ccc;
}